@model IEnumerable<InsyranceCompany.Filials>

@{
    ViewData["Title"] = "Филиалы";
}

<h1>Филиалы</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Адрес
            </th>
            <th>
                Телефон
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilialAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilialPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FilialId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.FilialId">Описание</a> |
                <a asp-action="Delete" asp-route-id="@item.FilialId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
