@model InsyranceCompany.Clients

@{
    ViewData["Title"] = "Описание";
}

<h1>Описание</h1>

<div>
    <h4>Клиента</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CName)
        </dd>
        <dt class = "col-sm-2">
            Отчество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPatronymic)
        </dd>
        <dt class = "col-sm-2">
            Фамилия
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSurname)
        </dd>
        <dt class = "col-sm-2">
            Дата рождения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthYear)
        </dd>
        <dt class = "col-sm-2">
            Телефон
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientId">Изменить</a> |
    <a asp-action="Index">Обратно к списку</a>
</div>
