@model IEnumerable<InsyranceCompany.Clients>

@{
    ViewData["Title"] = "Клиенты";
}

<h1>Список клиентов</h1>

<p>
    <a asp-action="Create">Добавить нового клиента</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Телефон
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    var fio = $"{item.CSurname} {item.CName} {item.CPatronymic}";
                    @fio
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ClientId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
