@model IEnumerable<InsyranceCompany.Contracts>

@{
    ViewData["Title"] = "Контракты";
}

    <h1>Контракты</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата заключения
            </th>
            <th>
               Оплата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateConclusion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ContractId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
