@model IEnumerable<InsyranceCompany.Agents>

@{
    ViewData["Title"] = "Агенты";
}

<h1>Список агентов компании</h1>

<p>
    <a asp-action="Create">Создать нового агента</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Адрес
            </th>
            <th>
                Номер телефона
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var fio = $"{item.ASurname} {item.AName} {item.APatronymic}";
                        @fio
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APhone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AgentId">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.AgentId">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.AgentId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
