@model InsyranceCompany.InsuranceType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InsuranceType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InsuranceTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
