@model IEnumerable<InsyranceCompany.InsuranceType>

@{
    ViewData["Title"] = "Виды страхования";
}

    <h1>Виды страхования</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Вид страхования
            </th>
            <th>
                Страховая сумма
            </th>
            <th>
                Тарифная ставка
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifRate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InsuranceTypeId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.InsuranceTypeId">Описание</a> |
                <a asp-action="Delete" asp-route-id="@item.InsuranceTypeId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
